
/* =========== */
/*  VARIABLES  */
/* =========== */

// COLOR
$light-color: #fff;
$dark-color: #2c3e50;
$medium-color: #3498db;
$secondary-color: #e74c3c;
// FONT
$ft-size-xsmall: 14px;
$ft-size-text: 16px;
$ft-size-logo: 16px;
$ft-size-nav: 18px;
$ft-size-small: 22px;
$ft-size-medium: 26px;
$ft-size-large: 32px;
$ft-size-xlarge: 48px;
// LINE HEIGHT
$line-height-text: 24px;
$line-height-nav: 28px;
$line-height-medium: 34px;
$line-height-large: 40px;
$line-height-xlarge: 68px;
// MARGIN

// PADDING
$padding-small: 1rem;
$padding-ofBloc: 2rem; //0 2rem 2rem 2rem bloc expériences
$padding-orange: 1rem 2rem;
// SIZE
$size-span-burger: .2rem;
