#container-image {
    position: relative;
    grid-column: 9/14;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 360px) and (max-width: 1260px){
        grid-column: 2/12;
        grid-row: 3/4;
        margin: 2.5rem 0 1rem 0;
        //align-items: flex-start;
    }

    p {
        width: 468px;
        height: 300px;
        position: absolute;
        top: 85px;
        bottom: 40px;
        right: 40px;
        padding: 7rem 3.5rem;
        font-size: $ft-size-text;
        line-height: $line-height-text;
        display: flex;
        place-content: center;
        background-color: $dark-color;
        color: $light-color;
        transition: transform .7s;
        transform-origin: right;
        transform: scaleX(0);

        @media screen and (min-width: 360px) and (max-width: 1260px){
            display: none;
        }
    }
    &:hover {
        p {
            transform-origin: left;
            transform: scaleX(1);
            opacity: .9;
        }
    }

    #photo {
        width: 100%;

        @media screen and (min-width: 999px) and (max-width: 1260px){
            width: 50%;
        }

        @media screen and (min-width: 749px) and (max-width: 1000px){
            width: 65%;
        }

        @media screen and (min-width: 599px) and (max-width: 750px){
            width: 80%;
        }

        @media screen and (min-width: 471px) and (max-width: 600px){
            width: 90%;
        }

        @media screen and (min-width: 360px) and (max-width: 470px){
            width: 100%;
        }
    }
}